.preferencesContainer {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  width: 100%;
  height: calc(100% - 30px);
  background: #fff;
  padding: 12px;
  color: #000;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 10px;
}

.preferencesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  border: 1px solid #DDDDDD;
  padding: 10px;
}

.preferencesSectionItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 14px;
  margin: 0px;
}

.preferenceLabel {
  margin: 0px;
  font-size: 14px;
}

.preferenceInput {
  flex-grow: 1;
}

.preferenceExplanation {
  margin: 0px;
  font-size: 12px;
  color: #808080;
}